@charset "UTF-8";

body{
    background-color: rgb(209, 255, 221);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(32, 146, 37);
}

h1#principal{
    text-align: center;
    background-color: rgb(32, 146, 37);
    color: white;
}

h2{
    color:rgb(3, 61, 3) ;
}

.basico{
    color:rgb(3, 61, 3) ;
    font-weight: bold;
}

.intermediario{
    color:rgb(179, 167, 9) ;
}

.avancado{
    color:rgb(209, 16, 16) ;
}

.destaque{
    background-color: rgb(253, 245, 173);
}

