@charset "UTF-8";
    
body {
    background-color: darkseagreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
        
h1 {
    color: cornsilk;
        background-color: rgb(41, 90, 0);
}
        
h2 {
    color: rgb(21, 51, 19);
    
}
        
p {
    color: rgb(54, 114, 54);
    
}